<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Task</title>
  <link rel="stylesheet" type="text/css" href="addTask.css">
</head>
<body>
<h1>Add Task</h1>

<form th:action="@{/tasks/addTask}" method="POST" th:object="${task}">
  <label for="description">Description:</label>
  <input type="text" id="description" name="description" th:field="*{description}" required />
  <button type="submit" class="add-task-link">Add Task</button>
</form>

<p th:if="${error}" style="color: red" th:text="${error}"></p>
</body>
</html>
